.testimonials {
	padding: 110px 0 80px;
	background: #000 url('../images/team-bg1.jpg') no-repeat 50% 50%;
	background-size: cover;
	@include media-breakpoint-down(md) {
		padding: 35px 0;
	}
	.row-phrase {
		margin-bottom: 80px;
		@include media-breakpoint-down(md) {
			margin-bottom: 30px;
		}
	}
	.testimonials-item {
		text-align: center;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column-reverse;
		@include media-breakpoint-down(md) {
			margin-bottom: 30px;
		}
	}
	.img {
		margin-bottom: 14px;
		img {
			border: 2px solid $black;
		}
	}
	strong {
		font-size: 2.2rem;
		color: $white;
		transform: matrix( 1.00085475802915,0,0,0.99945173555447,0,0);
		font-style: normal;
		text-transform: capitalize;
		margin-bottom: 10px;
	}
	p {
		color: $pink;
		text-transform: capitalize;
		margin-bottom: 23px;
	}
	q {
		color: rgba(255, 255, 255, 0.659);
		font-style: italic;
	}
}
.brands {
	max-width: 968px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	.brand-img {
		list-style: none;
		// width: 120px;
		img {
			filter: invert(65%);
		}
	}
	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
		justify-content: center;
		.brand-img {
			width: 32%;
			margin-bottom: 15px;
		}
	}
}
